<img src="../images/Napoleon.jpg">
<h1>SWEET SKILLS</h1> 
<% @skills.each do |skill| %>
    <h3><%= skill.id %>: <a href="/skills/<%= skill.id %>">
      <%= skill.name %></a></h3>
      <h4><%= skill.status %></h4>
      <a href="/skills/<%= skill.id %>/edit">edit</a>
      <form action="/skills/<%= skill.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="delete" />
      </form> 
<% end %>

    <ul><a class="waves-effect waves-light btn-large" href="/skills"><i class="material-icons left"></i>Skills</a></ul>
    <ul><a class="waves-effect waves-light btn-large" href="/skills/new"><i class="material-icons left"></i>Add Skill</a></ul>